.main-video-container{
  height: 100%;
}

.video-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px;
}

.videoAds{
  text-align: center;
  margin-top: 20px;
}



.footer-div{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 30px;
}

.footer-div ul{

}

.tag-list{
  margin: 10px;
  display: inline-block;
  margin:30px;
  margin-right: 20px;
  margin-left: 0;
}

.tags{
  color: rgb(17,17,51);
  margin-top: 50px;
  border: 1px solid rgb(17,17,51);
  font-size: 18px;
  padding: 20px;
}

iframe{
  width: 600px;
  height: 400px;
  margin-top: 30px;
}

.video-title{
  margin-top: 5px;
  margin-bottom: 20px;
  color: rgb(17,17,51);
  font-family: "Roboto Slab", Arial, Helvetica, Sans-Serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.box1{
  width: 60%;
}

.ads{
  margin-top: 40px;

}
.native-ads{
  margin-top: 20px;
}

.ads-img-div{
  margin-left: auto;
  margin-right: auto;
}
.ads-img{
  width: 600px;
  height: 150px;
  text-align: center;
}

.ten h1 {
  font-size:20px; font-weight:500;
  margin-bottom: 20px;
}
.ten h1:before {
    background-color: #c50000;
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 40px;
    margin-bottom: 5px;
}


@media only screen and (max-width: 768px) {
  .video-container{
    display: block;
    margin: 0;
    text-align: center;
    padding: 20px;
  }
  
  h1{
    font-size: 30px;
  }
  
.video-title{
  font-size: 20px;
}

.ads-img{
  width: 300px;
  height: 100px;
  text-align: center;
}
  
  .box1{
    width:100%;
  }
  
  iframe{
    width: 300px;
    height: 300px;
  }
  
  .footer-div{
    display: block;
  }
  
.tag-list{
  display: inline-block;
  margin:20px;
  margin-right: 8px;
  margin-left: 0;
}

.tags{
  color: rgb(17,17,51);
  margin-top: 10px;
  border: 1px solid rgb(17,17,51);
  font-size: 15px;
  padding: 15px;
}

.ads{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.native-ads{
  margin-bottom: 40px;
}
    
}